:root{
    font-size: 60%;
}
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
display: flex;
flex-direction: column;
height: 100vh;
width: 100%;
background-color: rgba(0, 0, 0, 0.329);

}

.container-music-list-barra-volume{

    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 5%;
}
.music-list{
    height: 70vh;
    width: 100%;
}
.barra-volume{
    display: none;
    height: 80vh;
    width: 15%;
    background-color: rgb(255, 94, 0);
}

.barra-musica{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    align-content: space-between;
    padding-bottom: 1%;
}
.proximo{
height: 10em;
width: 10em;
background-color:rgb(255, 94, 0);
margin: auto;
border-radius: 3em;
}
.play{
height: 12em;
width: 12em;
background-color:rgb(255, 94, 0);

display: flex;
border-radius: 10em;
margin: auto;
margin-top: 1em;

align-content: center;
text-align: center;

}
.play img{
    height: 8em;
    width: 8em;
    margin:auto;
    margin-left: 3em;
}
.anterior{
margin: auto;
height: 10em;
width: 10em;
background-color:rgb(255, 94, 0);
border-radius: 3em;
}

.table{
    
    font-size: 2em;
}

.timer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
}
.sec{
    position: relative;
    left: 2rem;;
}
.total-time{
    position: relative;
    right: -65em;
}